#MyTable{
            border: 1px solid black;
        }
#MyTable td{
    border: 1px solid black;
    padding: 3px;
}
.parentCell{
    position: relative;
}
.tooltip{
    display: none;
    position: absolute; 
    z-index: 100;
    border: 1px;
    background-color: white;
    border: 1px solid green;
    padding: 3px;
    color: green; 
    top: 20px; 
    left: 20px;
}
.parentCell:hover span.tooltip{
    display:block;
}